body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Helvetica, Arial, sans-serif;
	/*font-size: 13px;*/
	color: #061C37;
	background: #63513D;
	/*background: #1c478e;*/
	background-image:url(../images/back.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

*{
	margin: 0 auto 0 auto;
	text-align:left;
}

#linea_vertical{
	/*border: 1px solid #DDDDDD;*/
	border: 1px solid #CCCCCC;
	height: 275px;
}

select{
	width: 105px;
	text-align: center;
	/*background-color: #D88B00;*/
	border-radius: 4px; 
	
}
option:first-child{
	font-weight: bold;
	text-align: center;
}

/* USER LOGIN */
/*============*/
#user_login{
	margin-left: 89%;
	border-bottom-left-radius: 10px;
	padding: 3px 0px 4px 7px;
	/*background-color: white;*/
	/*background-color: #48B0E5;*/
	background-color: #D88B00;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-color: #483B2B;
}

#user_login a{
	text-decoration: none;
	font-weight: bold;
	color: white;
}

#user_login a:hover{
	/*color: #F7AA0A;*/
	color: black;
	text-decoration: underline;
}

/* INDEX */
/*====== */

#content_index{
	display:block;
	float:left;
	margin-top:15px;
	/*margin-left:10px;
	margin-left: 1px;*/
	width: 933px;
	height:auto;
	/*background:#fff;*/
	background: #F2F7F9;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	border-radius:10px;
	/*border:6px solid #1C478E;*/
	
}

#content_index img.float{
	float:right;
	margin:15px;
}


/*<=====================================================================================================> */

/* HISTORICOS */
/*=========== */

#guardar_cambios_historico{
	font-weight: bold;
	border-radius: 15px;
	background-color: #F3A820;
    text-align: center;
    width: 120px;
}

#guardar_cambios_historico:hover, #guardar_cambios_historico:focus{
	background-color: #D09109;
    border-color: #BA8108;
    color: #FFFFFF;
}

#resultados {
    background: none repeat scroll 0 0 #F2F7F9;
    border-radius: 10px;
    display: block;
    float: left;
    height: auto;
    margin-left: 1px;
    margin-top: 15px;
	padding-top: 15px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
    width: 931px;
}

#select-busqueda {
    background: none repeat scroll 0 0 #B1B1B1;
	float: left;
    border-color: #B1B1B1;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
	font-weight: normal;
	font: 12px Helvetica, "Lucida Grande", Arial, sans-serif;  
    padding-left: 15px;
	padding-bottom: 15px;
    width: 888px;
	margin-left: 13px;
}
#select-busqueda p{
	width: 220px;
}

#select-busqueda input{
    border-radius: 3px;
	text-align: left;
	width: 150px;
	background-image: url("../images/search.png");
	background-position: 135px 1.3px;
	background-repeat: no-repeat;
}

#select-busqueda table{
	margin: 0px
}

#content_historicos{
	display:block;
	float:left;
	/*margin-top:15px;*/
	margin-left:13px;
	width: 905px;
	height:auto;
	/*background:#fff;*/
	background: #F2F7F9;
	/*padding:15px;*/
	border-radius:10px;
	/*border:6px solid #1C478E;*/
	
}

#content_historicos img.float{
	float:right;
	margin:15px;
}

#muestratodos{
	border-radius: 4px;
	font-weight: bold;
}

#btn_submit_historicos{
    border-radius: 4px;
	font-weight: bold;
}

/*<=====================================================================================================> */

/* EVOLUTIVOS */
/*=========== */

/* PARA HACER DESAPARECER COMPLETAMENTE LAS TABS
.ui-tabs .ui-state-disabled { 
    display: none; 
} */


#input_busqueda{

}

#enviar_evolutivo{
	font-weight: bold;
	border-radius: 15px;
	background-color: #F3A820;
    text-align: center;
    width: 60px;
}

#enviar_evolutivo:hover, #enviar_evolutivo:focus{
	background-color: #D09109;
    border-color: #BA8108;
    color: #FFFFFF;
}

#input_evolutivo{
	margin-bottom: 10px;
	margin-top: 10px;
	
}

#btn_submit_evolutivos{
    border-radius: 4px;
	height: 23px;
	font-weight: bold;
	margin-top: 2px;
	width: 60px;
}

#btn_nuevo_evolutivo{
	width: 140px;
	border-radius: 4px;
	font-weight: bold;
	margin-top: 2px;
}

#effect{
    margin-top: 10px;
    border-color: #B1B1B1;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    background-color: #E6E6E6;
    height: 468px;
}

#effect textarea{
    margin-bottom: 10px;
}

#select-evolutivos{
	background: #B1B1B1;
	border-style:solid;
	border-color: #B1B1B1;
	border-width:1px;
	border-radius: 10px;
	width: 904px;
    margin-bottom: 10px;
    padding-left: 15px;
	font-weight: normal; 	
	font: 12px Helvetica, "Lucida Grande", Arial, sans-serif;  
}

#select-evolutivos input{
	text-align: left;
	border-radius: 3px;
	width: 150px;
	background-image: url("../images/search.png");
	background-position: 135px 1.3px;
	background-repeat: no-repeat;
}

#select-evolutivos form{
	padding-bottom: 20px;
	margin-right: 750px;
}

#select-evolutivos p{
	width: 220px;
}

#general-evolutivos{
	/*border-style:solid;
	border-color: #B1B1B1;
	border-width:1px;*/
	background-color: #DEEDF7;
	border: 1px solid #AED0EA;
	/*border-radius: 10px;*/
	border-top: transparent;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	width: 920px;
	margin-left: -18px;
	margin-top: -13px;
	font-weight: normal;
}

#evolutivos{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #DEEDF7;
	border: 1px solid #AED0EA;
	border-top: transparent;
	border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
	width: 898px;
	margin-left: -18px;
	margin-top: -13px;
}


#tabs-evolutivos{
    background-color: #F2F7F9;
    /*border: 6px solid #8FB5C1;*/
    border-radius: 10px;
    /*margin: 70px auto;*/
    padding-top: 15px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    /*position: relative;*/
    width: 920px;
    font-weight:bold;
    float: left;
    margin-top: 15px;
    margin-left: 2px;
    overflow: hidden;
}
#table-evolutivos-1{
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	/*margin-right: 90px;*/
	margin-right: 24px;
	float: left;
}

#table-evolutivos-2{	
	padding-top: 30px;
	padding-bottom: 35px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	/*margin-left: 80px;*/
	margin-left: 15px;
}

#btn_submit_altas{
	font-weight: bold;
	border-radius: 15px;
	background-color: #F3A820;
    text-align: center;
    width: 60px;
}

#btn_submit_altas:hover, #btn_submit_altas:focus{
	background-color: #D09109;
    border-color: #BA8108;
    color: #FFFFFF;
}

#button_ini{
	border-radius: 3px;
	font-weight: bold;
}


#historico th,td{
	text-align: center;
}

#resumen th,td{
	text-align: center;
}

#nombre_index{
	font-weight: bold;
}

#situacion_index{
	font-weight: bold;
}

#historico thead th{
	background: #6FBFE9;
	vertical-align: center;
}

#resumen thead th{
	background: #6FBFE9;
	background-image: url("tablesorter/blue/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

label{
	display:inline-block;
	width:350px;
	font-weight: lighter;
	color: red;
	padding-left: 6px;
}

input{
	/*margin:0 5px 0 5px;*/
	width: 220px;
	/*background: #DFDFDF;*/
	/*text-align: center;*/	
	padding-left: 3px;
	/*border-radius: 3px;*/
}

#input_select{
	width: 187px;
	text-align: center;
}

#input_direccion{
	padding-left: 4px;
}

#input_derivacion{
	padding-left: 4px;
}

#input_motivo{
	padding-left: 4px;
}

#input_antec_per{
	padding-left: 4px;
}

#input_antec_fam{
	padding-left: 4px;
}
  
#input_exp_psico{
	padding-left: 4px;
}

#input_compl{
	padding-left: 4px;
}                        
                                                
#input_diag{
	padding-left: 4px;
}

#input_farma{
	padding-left: 4px;
}                                                                                                                                                                                                                 
#input_alertas{
	padding-left: 4px;
} 
                  	
.fecha{
	text-align: center;
}
		
hr{
	background: none repeat scroll 0 0 #BDBDBD;
    border: medium none;
    clear: both;
    color: #DDDDDD;
    float: none;
    height: 0.1em;
    margin: 0 0 1.45em;
    width: 100%;
}

h2{
	padding-bottom:10px;
}

h3{
	font-size:16px;
	font-weight:bold;
	padding:10px 0 10px 0;
	color:#054dbc;
}

h4{
	font-size:15px;
	font-weight:bold;
	padding-bottom:5px;
	color:#054dbc;
}

p{
	margin:10px 0 10px 0;
}

#container{
	width: 960px;
}


#header{
	height:85px;
	width:960px;	
}

#header h1{
  float:left;
  padding:20px 0 0 20px;
	text-align:left;
	/*color:#FFFFFF;*/
	color: #F7AA0A;
	font-size:43px;
	/*color:#FFF;	*/

}


#header h2{
	float:right;
	padding:40px 20px 0 0;
	text-align:right;
	color:#A9D1FA;
	width:400px;
}

#menu{
	background: url("../images/menu.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display:block;
	float:left;
	clear:both;
	width:990px;
	height:90px;
	float:left;
	clear:both;
	margin-top: 10px;
}

#menu-items ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:960px;
}

#menu-items li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	/*background: url("../images/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/	
	float: left;
	height: 45px;
	display: block;
	text-align: center;
	text-decoration: none;
	/*color: #ffffff;*/
	color: #C8C8C8;
	font-weight: bold;
	padding-top: 40px;
	font-size: 15px;
	padding-left:13px;
	padding-right:13px;
	
}

#menu-items a:hover{
	/*color:#86AEF9;*/
	color: #F7AA0A;
}

#menu-logo{
	/*display: inline-block;*/


}

#menu-logo a {
    background: url("../images/logo.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
	width: 300px;
	margin-left: 275px;
	margin-top: 7px;
	display: inline-block;

}

#menu-items{
	/*display: inline-block;
	font: 12px "Lucida Grande", Arial, sans-serif;*/
	font: 12px Helvetica, "Lucida Grande", Arial, sans-serif;
}

.white-text{
	color:#fff;
}

#leftmenu{
	margin-top:15px;
	width:190px;
	float:left;
	background-color:#1C478E;
	border-radius:10px;
	padding:15px 20px 5px 10px;
}

#leftmenu ul{
	list-style: none;
	padding: 0px;
	width:204px;
}


#leftmenu h3{
	list-style: none;
	padding: 0px;
	color:#FFFFFF;
	padding-bottom:7px;
	border-bottom:2px solid #fff;
}

#leftmenu ul li{
	list-style: none;
	padding:15px 0 8px 0;
	border-bottom:#fff dashed 1px;
	
}

#leftmenu ul li a, #leftmenu ul li a:visited{
	color:#FFFFFF;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}

#leftmenu ul li a:hover{
	color:#87BCF8;
	
	
}

#form-altas{
    /*background-color: #F2F7F9;*/
    /*background-color: transparent;*/
    background-color: #DEEDF7;
    /*border: 6px solid #8FB5C1;*/
    /*border-radius: 10px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /*margin: 70px auto;*/
    padding: 20px;
    /*position: relative;*/
    /*width: 680px;*/
    /*border-color: #B1B1B1;*/
    border: 1px solid #AED0EA;
    border-top: transparent;
    border-style: solid;
    border-width: 1px;
    width: 878px;
    font-weight:bold;
    float: left;
    margin-top: -13px;
    margin-left: -18px;
    overflow: hidden;
}



#tabs-altas{
    background-color: #F2F7F9;
    /*border: 6px solid #8FB5C1;*/
    border-radius: 10px;
    /*margin: 70px auto;*/
    padding: 20px;
    /*position: relative;*/
    width: 920px;
    height: 650px;
    font-weight:bold;
    float: left;
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 20px;
    overflow: hidden;
}

#tabla{
	float: left;
}

#imagen_dcha{
	float: left;
	margin-top: 15%;
	margin-left: 22%;
}

#imagen_dcha_altas{
	float: left;
	margin-top: 62%;
	margin-left: 13%;
}

#logo-hamabide{
	height: 60px;
}

#contenedor{
	overflow: hidden;
	margin-bottom: 15px;
}

#botones-editar input {
	margin-top: 10px;
        border-radius: 5px;
        text-align: center;
	width: 120px;
	/*margin-right: 180px;*/
	font-weight: bold;
}

#botones-editar-1 input {
	text-align: center;
	width: 120px;
	/*margin-left: 180px;*/
	font-weight: bold;
}

#botones-editar-2 input {
	text-align: center;
	width: 120px;
	/*margin-right: 180px;*/
	font-weight: bold;
}


tfoot{
	margin-left: 10px;
}

.nexttab{
	border-radius: 3px;
}

.antetab{
	border-radius: 3px;
}



/* Cogido de Bootstrap para "Pager" */

.pager{
	padding-left:0;
	top: 0px;
	/*margin:20px 0;*/
	list-style:none;
	text-align:center;
	height: 30px;

}

.pager li{
	display:inline;	
	text-decoration: none;
}

.pager li>a,.pager li>span{
	display:inline-block;
	padding:5px 14px;
	color: black;
	background-color:#62BBE9;
	border:1px solid #ddd;
	border-radius:15px;	
	text-decoration: none;
	/*margin-top: 15px;*/
}

.pager li>a:hover,.pager li>a:focus{
	text-decoration:none;
	background-color:#3C95C3;
}

.pager .next>a,.pager .next>span{
	float:right;
}

.pager .previous>a,.pager .previous>span{
	float:left;
}

.pager .disabled>a,.pager .disabled>a:hover,.pager .disabled>a:focus,.pager .disabled>span{
	color:#999;background-color:#fff;cursor:not-allowed;
}

/* USER INFO */
/*============*/
#user_info {
    background: none repeat scroll 0 0 #F2F7F9;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    height: 195px;
    margin-top: 10%;
    margin-left: auto;
    padding: 20px 15px 0.1px;
    width: 300px;
}

/* USER EDIT */
/*============*/

#imagen_medico_dcha{
	float: left;
	margin-top: -153px;
	margin-left: 190px;
}

#user_edit {
    background: none repeat scroll 0 0 #F2F7F9;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    height: 260px;
    margin-top: 10%;
    margin-left: auto;
    padding: 20px 15px 0.1px;
    width: 500px;
}

#user_edit_informa {
    background: none repeat scroll 0 0 #F2F7F9;
    box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: block;
    height: 140px;
    margin-top: 10%;
    margin-left: auto;
    padding: 20px 15px 0.1px;
    width: 500px;
}

#edita_tabla {
	margin-bottom: 30px;
}

.pager li > input {
    background-color: #62BBE9;
    border: 1px solid #DDDDDD;
    border-radius: 15px;
    color: #000000;
    display: inline-block;
    padding: 5px 14px;
    text-decoration: none;
    width: 120px;
    font-weight: bold;
    height: 30px;
}

.pager li>input:hover,.pager li>input:focus{
	text-decoration:none;
	background-color:#3C95C3;
}


#vuelve_edit{
	font-weight: bold;
	border-radius: 15px;
	background-color: #F3A820;
    text-align: center;
    width: 120px;
}

#vuelve_edit:hover, #vuelve_edit:focus{
	background-color: #D09109;
    border-color: #BA8108;
    color: #FFFFFF;
}


/* PRUEBAS BOOTSTRAP */

